
.container {
  display: flex;
  width: 100%;
  margin: 20px auto;
  gap: 30px;
  padding-left: 20px;
}

.profile-view {
  flex-basis: 50%;
}
.about-me-content {
  margin-top: 80px;

  flex-basis: 49%;
}

.about-me-content h2 {
  text-decoration: underline;
  text-underline-offset: 10px;
}

.about-me-content p {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 500;
}

.profile {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.profile-contents {
  margin-top: -40px;
}

.profile-contents p {
  font-size: 18px;
}

h2 {
  font-size: 30px;
}

.skills p {
  font-size: 18px;
  margin-bottom: -1px;
  display: flex;
  justify-content: space-between;
}
